# compiled output
/tmp
/out-tsc
/dist
/dist-app
*scroll-*.tgz

# dependencies
node_modules

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace
.vscode/*

# misc
/.sass-cache
/connect.lock
/coverage
/typings
.angular
*.log
temp

# System Files
.DS_Store
Thumbs.db

# firebase
.firebase
.firebaserc
firebase.json

# environment
.env
