<app-demo
  [datasource]="datasource"
  [context]="demoContext"
  [sources]="sources"
>
  <div description>
    <p>
      This is the very basic example.
      We see 10 items in the visible part of the viewport because of CSS:
      10 items of 25px each are equal to 250px of the viewport height.
      <em>Datasource.get</em> log shows us that there were 3 requests
      of 5, 10 and 5 items on the initial load (before any scrolling).
      So we have 20 DOM elements initially:
      15 downward items with positive indexes and 5 upward negative items.
      Our <em>Datasource</em> is unlimited,
      it produces items with indexes from -Infinity to +Infinity.
      The number of DOM elements in the viewport is not constant
      and fluctuates around the initial value during scrolling (20-31).
    </p>
    <p>
      Why do we have 3 requests initially,
      why the first one is about only 5 items,
      why at least 10 items are invisible?
      This is how the <em>*uiScroll</em> works and further reading should shed light on the details.
      And we need to know that the default behaviour could be changed via Settings object.
    </p>
  </div>
</app-demo>
