<app-demo
  [datasource]="datasource"
  [context]="demoContext"
  [sources]="sources"
>
  <p>
    The <em>uiScroll</em> might work in the "infinite" mode, when items are never removed. This mode can
    be turned on via <em>infinite</em> property of the <em>settings</em> object. Setting <em>infinite</em> to true,
    we ask the scroller not to remove items that are getting out of the viewport. That's why the DOM elements
    counter value is being increased per each edge-scroll event.
  </p>
</app-demo>
