<app-demo
  [datasource]="datasource"
  [context]="demoContext"
  [sources]="sources"
>
  <div description>
    <p>
      What if we want to start the <em>uiScroll</em> from some specific position?
      It is possible via <em>startIndex</em> setting which determines
      what item index the <em>uiScroll</em> will use to start the load process.
      It will be the value of the <em>index</em> argument during the first
      <em>Datasource.get</em> method call.
    </p>
    <p>
      The default <em>startIndex</em> value is 1.
      It has to be an integer with no range limitations.
      But real datasource boundaries (in case the <em>Datasource</em> is limited)
      should be taken into the account.
    </p>
  </div>
</app-demo>
