<app-demo
  [datasource]="datasource"
  [context]="demoContext"
  [sources]="sources"
>
  <div description>
    <p>
      What if I want to start the <em>uiScroll</em> from some specific position? It is possible via <em>startIndex</em>
      setting which defines what item index the scroller will use to start the load process. The value has to be
      an integer. It has no range limitations, but it must exist within the datasource boundaries in case the
      <em>Datasource</em> is limited. The default value of <em>startIndex</em> setting is 1.
    </p>
  </div>
</app-demo>
