<app-demo
  [context]="demoContext"
  [sources]="sources"
>
  <div actions>
    <p>
      Follow <a routerLink="/window">this link</a> to open the Entire Window scrollable demo.
    </p>
  </div>

  <div description>
    <p>
      The entire window might work as a Viewport if <em>windowViewport</em> setting is set to true.
      To provide most stable experience in this case,
      the overflow-anchor css property should be disabled on the top level of the DOM tree.
      This is what the doc says:
    </p>
    <p>
      <i>
        In order to support Safari and IE browsers,
        the library got its own implementation of scroll anchoring feature
        applicable to the case of virtual scrolling.
        Currently this implementation may conflict with native "overflow-anchor" in browsers that support it,
        so it is highly recommended to turn native anchoring off.
      </i>
    </p>
  </div>
</app-demo>
