<div data-padding-top></div>
<div *ngFor="let item of datasource.list">
  <ng-template
    [ngTemplateOutlet]="templateVariable"
    [ngTemplateOutletContext]="{
      $implicit: item
   }">
  </ng-template>
</div>
<!-- <div *ngFor="let item of getItems()" id="{{getItemId(item.$index)}}">
  <div [style.position]="item.invisible ? 'fixed' : null" [style.left]="item.invisible ? '-99999px' : null" >
    <ng-template
      [ngTemplateOutlet]="templateVariable"
      [ngTemplateOutletContext]="{
        item: item.scope,
        index: item.$index
     }">
    </ng-template>
  </div>
</div> -->
<div data-padding-bottom></div>
