h1, h3 {
  margin: 15px 0;
}

p {
  margin: 10px 0;
}

.viewport {
  width: 175px;
  height: 100px;
  overflow-anchor: none;
  overflow-y: auto;
}

.log {
  height: 100px;
  width: 175px;
  overflow-y: hidden;
  font-size: smaller;
  line-height: 14px;
  float: left;
}

.elements {
  padding-left: 20px;
  width: 85px;
}

.datasource {
  padding-left: 10px;
  width: 175px;
}
