<app-demo
  [datasource]="datasource"
  [context]="demoContext"
  [sources]="sources"
>
  <div actions style="display: flex">
    <button (click)="doAppend()">Append</button> /
    <button (click)="doPrepend()">Prepend</button>
    <input [ngModel]="inputValue" (change)="onInputChanged($any($event.target))" size="2">
  </div>

  <div description>
    <p>
      Adding items at the end and at the beginning of the Scroller's Buffer is possible with
      <em>Adapter.append</em> and <em>Adapter.prepend</em> methods respectively.
      They have the following object-arguments:
    </p>
    <div class="row">
      <div class="column"><pre>{{appendArgumentsDescription}}</pre></div>
      <div class="column"><pre>{{prependArgumentsDescription}}</pre></div>
    </div>
    <p>
      The <em>items</em> parameter is an array of items we want to add,
      <em>eof</em>/<em>bof</em> params provide virtualization,
      <em>decrease</em>/<em>increase</em> define index strategy.
      Here we deal with only <em>items</em> parameter,
      other params are considered in the <a
        [routerLink]="['/', adapterScope.id]"
        fragment="{{adapterMethodsScope.map.appendPrependSync.id}}"
      >next demo</a>.
      Both <em>append</em> and <em>prepend</em> methods act in the same way,
      so let's discuss <em>prepend</em>.
    </p>
    <p>
      In this demo we have 20 items on start, 5 of them (95-99) are invisible on the backward direction.
      By pushing "Prepend" button we want to add 4 (which is the input value) new items
      to the top of the list. After they are prepended, they become visible when scrolling up.
      The Scroller accurately injects prepended items into
      its Buffer consisting of 95-114 rows initially,
      so 1-4 new items temporary take place of items with indexes 91-94.
    </p>
    <p>
      But if we scroll away and make '90s items invisible and deleted from the viewport,
      and then scroll back, we will realise that nothing changes:
      "new" items are gone and the old 91-94 items returned to initial position.
      The point is that the changes we provide via <em>Adapter</em> over the internal Scroller's Buffer
      don't affect the external <em>Datasource</em> we implemented on the Component level.
      This is our responsibility to take care of data passing to the Scroller through the <em>Datasource</em>.
      <a
        [routerLink]="['/', adapterScope.id]"
        fragment="{{adapterMethodsScope.map.appendPrependSync.id}}"
      >The next sample</a>
      provides one of the approach of consistent <em>Datasource</em> implementation
      with <em>Adapter.append</em> and <em>Adapter.prepend</em> methods usage.
    </p>
  </div>
</app-demo>
