<app-demo [datasource]="datasource" [context]="demoContext" [sources]="sources">
  <div actions style="display: flex">
    <button (click)="doClip()">Clip</button>
  </div>

  <div description>
    <p>
      <em>Adapter.clip</em> is another <em>Adapter</em> API method
      allowing to remove out-of-viewport items on demand.
      Not to be confused with <em>Adapter.remove</em>, as
      this method has no impact on the <em>Datasource</em>.
      It just cleans up the DOM.
    </p>
    <p>
      Commonly, the <em>uiScroll</em> runs the clipping procedure
      each time new items are fetched after scrolling.
      Also, the <em>uiScroll</em> clips old items from a side of the viewport
      that is opposite to a side where new items appear.
      This is one of the core parts of the virtualization concept.
      By invoking the <em>Adapter.clip</em> method
      we are telling the <em>uiScroll</em> to run this process immediately
      and remove items that are out of the visible part of the viewport
      in both directions or in specific direction.
    </p>
    <p>
      This could be useful when we enlarge the list of items manually,
      via <em>Adapter.append</em> or <em>.prepend</em> methods.
      For example, we appended 100 new items and started scrolling down, in forward direction.
      We might want the items that exit the viewport in backward direction to be clipped.
      Such a clipping will occur automatically only when we reach the bottom line of the buffer
      and new items are fetched and rendered in forward direction.
      If we don't want to wait, we just call <em>Adapter.clip</em>.
    </p>
    <p>
      This demo implements some artificial but quite illustrative case.
      Here we disabled virtualization by turning on the <em>infinite</em> setting.
      Clipping will never happen automatically.
      We see how the DOM elements counter value is getting bigger and bigger as we scroll on and on.
      By pressing the "Clip" button, we let only 20-21 items to survive.
      This way a kind of manual virtualization could be implemented.
    </p>
    <p>
      The method has an argument object that allows to run clipping process
      only in one direction:
    </p>
    <pre>{{clipOptionsDescription}}</pre>
    <p>
      So, if we call <em>Adapter.clip({{clipOptionsSample}})</em>,
      only those items that are out of the bottom edge of the visible part of the viewport
      will be clipped out.
    </p>
  </div>
</app-demo>
