<app-demo
  [datasource]="datasource"
  [context]="demoContext"
  [sources]="sources"
>
  <div actions *ngIf="init">
    First visible item's index: {{datasource.adapter.firstVisible.$index}}
    <br>
    Last visible item's index: {{(datasource.adapter.lastVisible$ | async)?.$index}}
    <br>
    Visible items counter: {{visibleCount}}
  </div>
  <div description>
    <p>
      The next read-only <em>Adapter</em> properties are
      <em>firstVisible</em> and <em>lastVisible</em>.
      These are the objects of special <em>ItemAdapter</em> type
    </p>
    <pre>{{itemAdapterDescription}}</pre>
    <p>
      <em>$index</em> corresponds to <em>Datasource</em> item index value;
      <em>data</em> is what we were pushing to the <em>uiScroll</em>
      on <em>Datasource.get</em> (item's content);
      <em>element</em> is the DOM element that is relevant to our item.
    </p>
    <p>
      There are scalar and Observable versions of these properties:
      <em>firstVisible$</em> and <em>lastVisible$</em>. Both versions could be
      used in the template as it is shown in this demo. Also, we may have
      appropriate subscriptions and here in this sample we are calculating
      a number of visible items with the help of <em>combineLatest</em> RxJs method.
    </p>
    <p>
      Recalculation of the first and the last items occurs per each non-empty
      <em>Datasource.get</em> call after new items are retrieved and rendered
      and unnecessary items are clipped out.
    </p>
  </div>
</app-demo>
