<app-demo
  [datasource]="datasource"
  [context]="demoContext"
  [sources]="sources"
>
  <div actions>
    The uiScroll is {{datasource.adapter.isLoading ? 'loading': 'relaxing'}},
    counter {{loadingCounter}}
    <br>
    Inner loop is {{datasource.adapter.loopPending ? 'pending': 'stopped'}},
    counter: {{innerLoopCounter}}
  </div>
  <div description>
    <p>
      The <em>uiScroll</em> has internal process layer that might be called "inner loop",
      which is responsible for single fetch-clip-render chain.
      Inner loop can be empty and non-empty.
      Empty inner loop does nothing but check if the <em>uiScroll</em> could relax.
      Non-empty inner loop corresponds to 1 <em>Datasource.get</em> call (which is "fetch" subprocess)
      and following viewport updates: clipping old items, inserting new ones and render.
      The <em>Adapter.loopPending</em> read-only property
      and <em>Adapter.loopPending$</em> subscription
      allow us to know whether "inner loop" is working or not.
    </p>
    <p>
      The <em>isLoading</em> property we discussed before
      majorizes <em>loopPending</em> property, and this demo shows how they correlate.
      Here we are counting loadings and inner loops within the
      <em>Adapter.isLoading$</em> and <em>Adapter.loopPending$</em> subscription handlers respectively.
      After the <em>uiScroll</em> is initialized and started relaxing,
      we see that there are 4 inner loops done, while <em>isLoading</em> counter is 1.
      Practically it means that we have 3 <em>Datasource.get</em> calls and 1 more empty loop
      to ensure that the <em>uiScroll</em> could relax.
      And these 4 inner loops are being packed into 1 "isLoading" session.
    </p>
    <p>
      So we might have 3 levels of pending:
    </p>
    <ul>
      <li>
        <em>Datasource.get</em> pending, which is fully manual due to
        the implementation of the <em>Datasource</em> is in our hands;
      </li>
      <li>
        <em>inner loop</em> pending, which is <em>loopPending</em> and which includes
        some internal <em>uiScroll</em> subprocesses (fetch, clip, render)
        that can take some time in addition to <em>Datasource.get</em> work
        (which is a part of "fetch" subprocess);
      </li>
      <li>
        <em>continuous work session</em> pending, which is <em>isLoading</em>
        and which consists of 1 and more inner loops that contain
        a single session of the internal <em>uiScroll</em> Workflow run.
      </li>
    </ul>
  </div>
</app-demo>
