<app-demo [datasource]="datasource" [context]="demoContext" [sources]="sources">
  <div actions>
    <button (click)="datasource.adapter.pause()">Pause</button>
    <button (click)="datasource.adapter.resume()">Resume</button>
  </div>
  <div description>
    <p>
      The <em>Adapter.pause</em> method is to stop the Scroller.
      When paused, it doesn't receive the scroll events from the viewport,
      so the scroll events are ignored. Also, all the Adapter methods
      (except <em>Adapter.resume</em> and <em>Adapter.reset</em>)
      don't do anything.
    </p>
    <p>
      The <em>Adapter.resume</em> method is to make the Scroller live again.
    </p>
  </div>
</app-demo>