<app-demo
  [datasource]="datasource"
  [context]="demoContext"
  [sources]="sources"
>
  <div actions style="display: flex">
    <button (click)="doReload()">Reload</button>
    &nbsp; by index &nbsp;
    <input [ngModel]="reloadIndex" (change)="onInputChanged($event.target)" size="2">
  </div>

  <div description>
    <p>
      The first <em>Adapter</em> API method is the <em>reload</em> method.
      It allows to reload the <em>uiScroll</em> which includes
      resetting the items <em>Buffer</em> and the <em>Viewport</em> params.
      The <em>reload</em> method has 1 optional argument: <em>index</em>. It specifies
      the index of the item to be first in the visible part of the viewport after reload.
    </p>
    <p>
      If <em>index</em> argument is not set,
      <em>settings.startIndex</em> will be used as the first index.
      If neither <em>index</em> argument not <em>startIndex</em> setting is present,
      the default value 1 will be used.
      See also <a href="#/settings#start-index">startIndex setting description</a>.
    </p>
  </div>
</app-demo>
