<app-demo
  [datasource]="datasource"
  [context]="demoContext"
  [sources]="sources"
>
  <div actions>
    <button (click)="doReload()">Reload</button>
    &nbsp; by index &nbsp;
    <input [ngModel]="reloadIndex" (change)="onInputChanged($event.target)" size="2">
  </div>

  <div description>
    <p>
      The first <em>Adapter</em> API method is the <em>reload</em> method
      that allows us to reload the <em>uiScroll</em>: <em>Adapter.reload(index)</em>.
      It resets the items buffer, resets the viewport params and starts
      fetching items
    </p>
    <ul>
      <li>
        from <em>index</em> position
        (if <em>reload</em> had been called with <em>index</em> parameter);
      </li>
      <li>
        from <em>settings.startIndex</em> position
        (if no <em>index</em> parameter is present and <em>startIndex</em> setting is set);
      </li>
      <li>
        from the default position which is 1
        (if neither setting nor parameter is present).
      </li>
    </ul>
  </div>
</app-demo>
