<app-demo
  [datasource]="datasource"
  [context]="demoContext"
  [sources]="sources"
>
  <div actions>
    <button (click)="doReset()">Reset</button><br>
    <input [(ngModel)]="startIndex" size="3"> - new start index<br>
    <input [(ngModel)]="bufferSize" size="3"> - new buffer size
  </div>

  <div description>
    <p>
      <em>Adapter.reset</em> method is designed to reset the internal state of the <em>uiScroll</em>.
      It differs from <em>Adapter.reload</em> because it re-instantiates all internal entities,
      which is equivalent to destroying the scroller and re-creating it again via <em>ngIf</em>.
    </p>
    <p>
      The method has 1 optional argument: <em>datasource</em> object. By passing it,
      we tell the <em>uiScroll</em> that we want to use a new datasource.
      If the argument is not passed, the old <em>datasource</em> will be used.
    </p>
    <p>
      All fields of the <em>datasource</em> argument are optional.
      Missing parts of a new Datasource will be taken from the original one.
      For instance, in this demo only <em>settings</em> field are passed:
      <em>Adapter.reset(&#123; settings &#125;)</em>.
      This sets new <em>startIndex</em> and <em>bufferSize</em> settings
      while <em>Datasource.get</em> remains pristine.
      It affects the value of the DOM elements counter.
    </p>
    <p>
      <b>Important note!</b> It is not recommended to pass the <em>datasource</em> constructed
      via operator <em>new</em>. This breaks template expressions like
      <em>{{isLoadingSample}}</em> and <em>{{isLoading$Sample}}</em>.
      The component bindings and subscriptions persist regardless of the shape of the
      <em>Adapter.reset</em> method argument.
    </p>
  </div>
</app-demo>
