* {
  font: inherit;
  margin: 0;
  padding: 0;
}

html {
  line-height: 20px;
}

.viewport {
  width: 200px;
  height: 200px;
  overflow-y: auto;
  display: block;
}

.viewport-horizontal {
  width: 200px;
  height: 100px;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
}

.viewport-horizontal div {
  display: inline-block;
}
