<br>
<br>

<p>
  <em>Adapter</em> is a special object to assess and manipulate the <em>uiScroll</em>.
  The API it provides is being discussed on this page.
  The only way to receive the <em>Adapter</em> is to instantiate the <em>Datasource</em>
  via operator <em>new</em>:
</p>

<pre>{{datasourceSample}}</pre>

<p>
  The constructor argument is an object of <em>IDatasource</em> type which
  must include <em>get</em> method property and
  may include <em>settings</em> object property.
  The <em>uiScroll</em> augments the result <em>Datasource</em> object
  with the <em>Adapter</em> object property during instantiating.
  So after the <em>Datasource</em> object had been instantiated, we may access
  <em>this.datasource.adapter</em> property object with its API methods and properties.
  <em>Datasource</em> definition could be imported from the <em>UiScrollModule</em>:
</p>

<pre>{{importSample}}</pre>

<app-demo-reload></app-demo-reload>
<app-demo-is-loading></app-demo-is-loading>
