<br>
<br>

<p>
  The idea of the <em>*uiScroll</em> directive usage is very similar to the use of <em>*ngFor</em> directive
  in the simplest case, but as it follows from the documentation,
  a special <em>Datasource</em> object needs to be passed to the <em>*uiScroll</em> directive.
  The basic ngx-ui-scroll samples include primitive callback-based
  <em>Datasource.get</em> methods providing necessary index-count data arrays passing.
  Each sample has:
</p>

<ul>
  <li>working viewport where we may scroll through the data items;</li>
  <li>log section where we may see
    current size of the viewport's scrollable area,
    how many real items (DOM elements) the viewport has at a moment
    and how many items have been retrieved via Datasource.get;
  </li>
  <li>code listing which contains Datasource typescript code, Template html code and CSS;</li>
  <li>description where we can find some notes and explanations.</li>
</ul>

<app-demo-basic></app-demo-basic>
<app-demo-buffer-size></app-demo-buffer-size>
<app-demo-padding></app-demo-padding>
<app-demo-item-size></app-demo-item-size>
<app-demo-start-index></app-demo-start-index>
<app-demo-min-max-indexes></app-demo-min-max-indexes>
<app-demo-infinite></app-demo-infinite>
<app-demo-horizontal></app-demo-horizontal>
<app-demo-different-heights></app-demo-different-heights>
<app-demo-window-viewport></app-demo-window-viewport>
