<h1>Angular UI Scroll Experimental Demos</h1>

<p>
  There are some undocumented settings and Adapter methods that provide additional flexibility.
  We can consider them as experimental features. Most of these features are not tested well
  and may have some side effects or behave imperfectly.
</p>
<p>
  For example, <em>Adapter.fix</em> method. It has different options for different cases
  which are discussed below. The options are passed as props of its argument object:
</p>
<pre>{{adapterFixArgumentDescription}}</pre>

<app-adapter-fix-position></app-adapter-fix-position>
<app-inverse-setting></app-inverse-setting>
<app-adapter-fix-updater></app-adapter-fix-updater>
