<h1>Angular UI Scroll Demo App</h1>

<p>
  <em>ngx-ui-scroll</em> is the Angular library for large data sets virtualization.
  The idea, core principles and terminology are inherited from its AngularJS direct predecessor:
  <a href="https://github.com/angular-ui/ui-scroll">angular-ui-scroll</a>,
  a pioneer in the virtual scrolling developing, since 2013.
  More information of a general nature concerning motivation, infrastructure, features, developing
  can be found on <a href="https://github.com/dhilt/ngx-ui-scroll">GitHub</a>.
  This site is dedicated to practical examples of the <em>uiScroll</em> usage.
</p>

<div class="demo">
  <h3>Common demo</h3>
  <div class="work">
    <div class="viewport-wrapper">
      <div class="viewport">
        <div *uiScroll="let item of datasource">
          <div class="item">{{item.text}}</div>
        </div>
      </div>
    </div>
    <div class="log">
      <div style="line-height: 25px; margin-bottom: 2px;">
        First visible: {{datasource.adapter.firstVisible.data.text}}
        <br />
        Last visible: {{(datasource.adapter.lastVisible$ | async)?.data.text}}
        <br />
        Items in DOM: {{datasource.adapter.itemsCount}}
        <br />
        Is loading: {{datasource.adapter.isLoading}}
        <br />
      </div>
      <div style="display: flex; align-items: center; margin-bottom: 2px;">
        Datasource delay (ms):&nbsp;
        <input [(ngModel)]="delay" type="number" style="width: 84px">
      </div>
      <div style="display: flex; align-items: center">
        Index to reload:&nbsp;
        <input [(ngModel)]="reloadIndex" type="number" style="width: 60px">&nbsp;
        <button (click)="doReload()" style="width: 60px">Reload</button>
      </div>

    </div>
    <div class="clearfix mb-3"></div>
  </div>

  <div class="sources">
    <tabset>
      <tab heading="Template">
        <pre class="prettyprint lang-html">{{sources.template}}</pre>
      </tab>
      <tab heading="Component">
        <pre class="prettyprint">{{sources.datasource}}</pre>
      </tab>
      <tab heading="CSS">
        <pre class="prettyprint">{{sources.styles}}</pre>
      </tab>
    </tabset>
  </div>
</div>

<p>
  It's just a little demo including simplest template,
  simplest Datasource implementation with no any settings provided
  and some of Adapter properties and methods usage.
  Other samples with all necessary details and explanations can be found at
  <a href="#/settings">Settings</a>,
  <a href="#/adapter">Adapter</a> and
  <a href="#/datasource">Datasource</a>
  sections.
</p>
