<div>
  <input [(ngModel)]="reloadIndex">
  <button (click)="doReload()">Reload</button>
  <br>
  <small>ngx-ui-scroll version: {{datasource.adapter.version}}</small>
  <br>
  <small>isLoading: {{datasource.adapter.isLoading}}</small>
  <br>
  <small>first visible: {{datasource.adapter.firstVisible.$index}}</small>
  <br><br>
</div>

<div class="viewport" style="height: 600px">
  <div *uiScroll="let item of datasource">
    <app-samples-test-inner>
      {{item.text}} {{item.id % 10 === 0 ? '**********' : ''}}
    </app-samples-test-inner>
  </div>
</div>
